


<form autocomplete="off" [formGroup]="form" #formControl="ngForm" (ngSubmit)="submit($event)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ 'Views.EmailDetails' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <ms-spinner [isLoading]="loading"></ms-spinner>
            
             <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
            
        </mat-card-content>
        <mat-card-actions class="pull-right">
            <ng-container *ngFor="let action of actions">
                <button [disabled]="loading" [color]="action.color" *ngIf="action.visible && !action.override"
                    mat-raised-button
                    (click)="formControl.onSubmit({$event: $event, action: action.name})">{{ action.name | translate }}</button>
            </ng-container>
        </mat-card-actions>
    </mat-card>
</form>
