{{ to?.label | translate}}
<div *ngFor="let field of field.fieldGroup; let i = index;" class="row">
    <formly-field class="col" [field]="field"></formly-field>
    <div *ngIf="to?.allowRemove" class="col-sm-2 d-flex align-items-center">
        <button mat-mini-fab aria-label="Add" color="warn" (click)="remove(i)">
            <mat-icon>remove</mat-icon>
        </button>
    </div>
</div>
<button mat-mini-fab aria-label="Add" class="mrgn-all-md" type="button" (click)="add()">
        <mat-icon>add</mat-icon>
 </button>
<!-- TODO: Beautify add / remove buttons -->
