<form [formGroup]="form" (ngSubmit)="onFormSubmit()">
	<div>
		<h2 mat-dialog-title>Edit User</h2>
	</div>	
	<div>
		<mat-dialog-content>
			<mat-form-field class="full-wid">
				<label>First Name</label>
				<input matInput  formControlName="firstName" type="text">
			</mat-form-field> 

			<mat-form-field class="full-wid">
				<label>Last Name</label>
				<input matInput formControlName="lastName" type="text">
			</mat-form-field> 

			<mat-form-field class="full-wid">
				<label>E-mail</label>
				<input matInput formControlName="emailAddress" type="text">
			</mat-form-field> 

			<mat-form-field class="full-wid">
				<label>Account Type</label>
					<select matNativeControl formControlName="accountType">
						<option value="Platinum">Platinum</option>
						<option value="Gold">Gold</option>
						<option value="Silver">Silver</option>
					</select>	
			</mat-form-field> 
		</mat-dialog-content>
	</div>	
	<div>
		<mat-dialog-actions align="right">
			<button mat-raised-button type="button" (click)="dialogRef.close()" color="primary">CANCEL</button>
			<button mat-raised-button type="submit" color="warn">UPDATE</button>
		</mat-dialog-actions>
	</div>	
</form>
