.gene-user-section{
    .login-logo{
        img{
            margin-bottom: 1.5rem;
        }
    }
    button{
        margin-bottom: 1rem;
    }
    .mat-card{
        padding-bottom: 2rem;
        padding-top: 2rem;
    }
}