

    <div class="container-list" (keydown.control.backspace)="clear()" (keyup.enter)="search(true)" tabindex="0">
        <div class="row pad-all-md mat-white box-inset">
            <div class="col col-sm-10">
                <div>
                    <form autocomplete="off" [formGroup]="form">
                        <formly-form [form]="form" [fields]="fields" [model]="searchObject"></formly-form>
                    </form>
                </div>
            </div>
            <div class="col col-sm-2 text-center">
                <button (click)="search()" mat-mini-fab color="primary" aria-label="Search">
                    <mat-icon>search</mat-icon>
                </button>
                <button (click)="details({id: 'new'})" mat-mini-fab aria-label="Add">
                        <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
        <br>
        <div class="row pad-all-md mat-white box-inset">
             <div class="col col-sm-12">
                <table mat-table matSort [dataSource]="searchResult?.list">
                    
                        <ng-container matColumnDef="id">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef> {{'User.id' | translate }} </th>
                            <td mat-cell *matCellDef="let element" appCellLocalizer="{{'User.id' | translate }}"> {{element.id }} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="name">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef> {{'User.name' | translate }} </th>
                            <td mat-cell *matCellDef="let element" appCellLocalizer="{{'User.name' | translate }}"> {{element.name }} </td>
                        </ng-container>
                    
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row (click)="details(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [length]="searchResult?.count" [pageIndex]="searchObject?.page"
                    [pageSize]="searchObject?.pageSize" [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
            </div>
        </div>
    </div>
    


