$file-type-area-bg:#eeeeee;
$file-type-dotted-area:#c8c8c8;
$border-radius:8px;

.file-type {
    background-color: $file-type-area-bg;
    border: 3px dotted $file-type-dotted-area;
    display: block;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: $border-radius;
}

.gene-file-upload {
    button {
        mat-button-ripple mat-ripple {
            opacity: 0.7 !important;
            cursor: not-allowed !important;
        }
    }
    [ng-reflect-trigger="[object HTMLButtonElement]"] {
        opacity: 1 !important;
        cursor: pointer !important;
    }
}
.app-dark{
    .file-type{
        background-color: transparent;
    }
}