<div fxLayout="row wrap" fxLayoutAlign="center start" class="pricing-wrapper">
   <div fxFlex.gt-sm="100" fxFlex="100">
      <div fxLayout="row wrap">
         <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
            <mat-card class="text-center">
               <mat-card-title>Standard</mat-card-title>
               <mat-card-subtitle class="primary-text">For most of the users</mat-card-subtitle>
               <div class="gene-card-content text-center">
                  <h1><strong>$ 40 /Mo</strong></h1>
                  <mat-list dense>
                     <mat-list-item> 10GB of Bandwidth</mat-list-item>
                     <mat-list-item>200MB Max File Size</mat-list-item>
                     <mat-list-item class="mat-text-muted">2GHZ CPU</mat-list-item>
                     <mat-list-item class="mat-text-muted"> 256MB Memory</mat-list-item>
                     <mat-list-item class="mat-text-muted">1 GB Storage</mat-list-item>
                  </mat-list>
                  <button mat-raised-button color="accent">Choose</button>
               </div>
            </mat-card>
         </div>
         <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
            <mat-card class="text-center">
               <mat-card-title>Advanced</mat-card-title>
               <mat-card-subtitle class="primary-text">For web expericence users</mat-card-subtitle>
               <div class="gene-card-content text-center">
                  <h1><strong>$ 90 /Mo</strong></h1>
                  <mat-list dense>
                     <mat-list-item class="mat-text-muted">25GB of Bandwidth</mat-list-item>
                     <mat-list-item class="mat-text-muted">750MB Max File Size</mat-list-item>
                     <mat-list-item class="mat-text-muted">2GHZ CPU</mat-list-item>
                     <mat-list-item class="mat-text-muted">256MB Memory</mat-list-item>
                     <mat-list-item class="mat-text-muted"> 250 GB Storage</mat-list-item>
                  </mat-list>
                  <button mat-raised-button color="accent">Choose</button>
               </div>
            </mat-card>
         </div>
         <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
            <mat-card class="text-center">
               <mat-card-title>Mega</mat-card-title>
               <mat-card-subtitle class="primary-text">For developer</mat-card-subtitle>
               <div class="gene-card-content text-center">
                  <h1><strong>$ 170 /Mo</strong></h1>
                  <mat-list dense>
                     <mat-list-item class="mat-text-muted">50GB of Bandwidth</mat-list-item>
                     <mat-list-item class="mat-text-muted"> 756MB Max File Size</mat-list-item>
                     <mat-list-item class="mat-text-muted">2GHZ CPU</mat-list-item>
                     <mat-list-item class="mat-text-muted">256MB Memory</mat-list-item>
                     <mat-list-item class="mat-text-muted">500GB Storage</mat-list-item>
                  </mat-list>
                  <button mat-raised-button color="accent">Choose</button>
               </div>
            </mat-card>
         </div>
         <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
            <mat-card class="text-center">
               <mat-card-title>Master</mat-card-title>
               <mat-card-subtitle class="primary-text">For large enterprises</mat-card-subtitle>
               <div class="gene-card-content text-center">
                  <h1><strong>$ 410/Mo</strong></h1>
                  <mat-list dense>
                     <mat-list-item class="mat-text-muted"> 60 GB of Bandwidth</mat-list-item>
                     <mat-list-item class="mat-text-muted"> 1 GB Max File Size</mat-list-item>
                     <mat-list-item class="mat-text-muted">2 GHZ CPU</mat-list-item>
                     <mat-list-item class="mat-text-muted">256 MB Memory</mat-list-item>
                     <mat-list-item class="mat-text-muted"> 1 TB Storage</mat-list-item>
                  </mat-list>
                  <button mat-raised-button color="accent">Choose</button>
               </div>
            </mat-card>
         </div>
      </div>
   </div>
</div>