<mat-card class="cart-list-wrap">
   <mat-card-content>
      <div class="set-overflow-x-auto">
         <ng-container *ngIf="ecommerceService.localStorageProduct.length == 0">
            <h4>No item found </h4>
         </ng-container>
         <table mat-table [dataSource]="ecommerceService.localStorageProduct" class="full-wid">
            <ng-container matColumnDef="image">
               <th mat-header-cell *matHeaderCellDef>Prdouct
               </th>
               <td class="pad-x-md" mat-cell *matCellDef="let element"><img class="mrgn-y-md" src="{{element.image}}" width="70" height="100">               
               </td>
               <td mat-footer-cell *matFooterCellDef colspan="2" class="pad-l-none">
                  <mat-card ><input matInput placeholder="Add Promo Code"></mat-card>
               </td>
            </ng-container>
            <ng-container matColumnDef="name">
               <th mat-header-cell *matHeaderCellDef></th>
               <td mat-cell *matCellDef="let element">
                  <div class="pad-x-md">{{element.name}} </div>
               </td>
               <td mat-footer-cell *matFooterCellDef class="text-center"><button type="button" mat-raised-button color="accent">APPLY</button></td>
            </ng-container>
            <ng-container matColumnDef="quantity" >
               <th mat-header-cell *matHeaderCellDef class="text-center">Quantity</th>
               <td mat-cell *matCellDef="let element" class="text-center quantity-wrap">
                  <div class="qty-wrap inline-block text-left pad-x-md"><input matInput type="number" min="1" [(ngModel)]="element.quantity"></div>
               </td>
               <td mat-footer-cell *matFooterCellDef class="text-center quantity-wrap"><label class="pad-x-md">Total</label></td>
            </ng-container>
            <ng-container class="warn-text" matColumnDef="price">
               <th mat-header-cell *matHeaderCellDef class="text-center">Price</th>
               <td mat-cell *matCellDef="let element" class="text-center">
                  <div class="warn-text pad-x-md">{{element.price|currency}}
                  </div>
               </td>
               <td mat-footer-cell *matFooterCellDef class="text-center">
                  <div class="pad-x-md">{{calculate()|currency}}</div>
               </td>
            </ng-container>
            <ng-container matColumnDef="total">
               <th mat-header-cell *matHeaderCellDef class="text-center">Total</th>
               <td mat-cell *matCellDef="let element" class="text-center">
                  <div class="pad-x-md">{{onQuantityClick(element) |currency}}
                  </div>
               </td>
               <td mat-footer-cell *matFooterCellDef class="text-center"><button type="button" mat-raised-button color="primary" (click)="checkout()">Checkout</button></td>
            </ng-container>
            <ng-container matColumnDef="icon">
               <th mat-header-cell *matHeaderCellDef class="text-center">Remove</th>
               <td mat-cell *matCellDef="let element" class="text-center">
                  <button mat-button (click)="removeCartProduct(element)">
                     <mat-icon>close</mat-icon>
                  </button>
               </td>
               <td mat-footer-cell *matFooterCellDef colspan="0" style="display:none;"></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsData;sticky:true;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsData;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumnsData;sticky:true;"></tr>
         </table>
      </div>
   </mat-card-content>
</mat-card>