mat-progress-spinner {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
 }
  
mat-icon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

.pointer{
    cursor:pointer
}