<div fxLayout="row wrap">
   <div fxFlex.gt-sm="50" fxFlex="100">
      <mat-card class="pad-t-none">
         <div class="gene-thumb no-gutter"><img src="assets/img/post1.jpg" width="1200" height="800"></div>
         <div class="gene-card-content">
            <h3>5 Code editor that are awesome</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit est tempore sed vero nostrum ullam id
               quos suscipit repudiandae, alias consectetur dignissimos esse officia distinctio et hic consequuntur,
               fugit eaque itaque cumque perspiciatis, nemo totam. Inventore corporis ut magni, exercitationem fugiat
               perspiciatis, suscipit consequatur non nulla repellendus quis, quasi velit.
            </p>
            <span class="meta-post">By:
            Admin, March 7</span>
         </div>
      </mat-card>
   </div>
   <div fxFlex.gt-sm="50" fxFlex="100">
      <mat-card class="pad-t-none">
         <div class="gene-thumb no-gutter"><img src="assets/img/post2.jpg" width="1200" height="800"></div>
         <div class="gene-card-content">
            <h3>Tips for update your themes</h3>
            <p>Odit est tempore sed vero nostrum ullam id quos suscipit repudiandae, alias consectetur dignissimos esse
               officia distinctio et hic consequuntur, fugit eaque itaque cumque perspiciatis, nemo totam. Inventore
               corporis ut magni, exercitationem fugiat perspiciatis, suscipit consequatur non nulla repellendus quis,
               quasi velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            </p>
            <span class="meta-post">By:
            Admin, March 9</span>
         </div>
      </mat-card>
   </div>
</div>
<div fxLayout="row wrap">
   <div fxFlex.gt-sm="50" fxFlex="100">
      <mat-card class="pad-t-none">
         <div class="gene-thumb no-gutter"><img src="assets/img/post3.jpg" width="1200" height="800"></div>
         <div class="gene-card-content">
            <h3>Latest angular themes</h3>
            <p>vero eaque illo consequuntur reprehenderit, quaerat provident sed pariatur quia inventore necessitatibus
               sapiente a rerum, ipsum accusantium veniam rem! Sunt deserunt soluta ea neque adipisci ut magnam nostrum
               repellat minus cum maxime excepturi inventore nulla consectetur, eum voluptates harum corrupti dolorum
               ipsa praesentium, Accusamus quaerat excepturi.
            </p>
            <span class="meta-post">By: John, March 10</span>
         </div>
         <div class="gene-card-footer">
            <mat-divider></mat-divider>
            <div fxLayout="row" fxLayoutAlign="start center">
               <div>
                  <button mat-icon-button>
                     <mat-icon>share</mat-icon>
                  </button>
                  <button mat-icon-button>
                     <mat-icon>favorite</mat-icon>
                  </button>
               </div>
               <span fxFlex></span>
               <button mat-icon-button [matMenuTriggerFor]="menuopt">
                  <mat-icon>more_horiz</mat-icon>
               </button>
            </div>
         </div>
      </mat-card>
   </div>
   <div fxFlex.gt-sm="50" fxFlex="100">
      <mat-card class="pad-t-none">
         <div class="gene-thumb no-gutter"><img src="assets/img/post4.jpg" width="1200" height="800"></div>
         <div class="gene-card-content">
            <h3>How to install Angular Theme</h3>
            <p>Illum rerum quo in, similique, accusamus debitis veritatis asperiores porro fugiat sint, quidem eveniet
               facilis est sequi praesentium quaerat vitae id cumque. Cupiditate deserunt, eius assumenda aliquam
               delectus corporis. Voluptates, natus. Facere ipsam quibusdam, alias sequi nobis sed. Aut nulla ipsum,
               illum ea soluta incidunt, vel facere nobis facilis.
            </p>
            <span class="meta-post">By: Help Desk, March 14</span>
         </div>
         <div class="gene-card-footer">
            <mat-divider></mat-divider>
            <div fxLayout="row" fxLayoutAlign="start center">
               <div>
                  <button mat-icon-button>
                     <mat-icon>share</mat-icon>
                  </button>
                  <button mat-icon-button>
                     <mat-icon>favorite</mat-icon>
                  </button>
               </div>
               <span fxFlex></span>
               <button mat-icon-button [matMenuTriggerFor]="menuopt">
                  <mat-icon>more_horiz</mat-icon>
               </button>
            </div>
         </div>
      </mat-card>
   </div>
</div>
<div fxLayout="row wrap">
   <div fxFlex.gt-sm="50" fxFlex="100">
      <mat-card>
         <div class="gene-card-content">
            <h3>5 things that you need to think before shopping</h3>
            <p>Adipisci quas repellat sed. Quasi quaerat aut nam possimus vitae dignissimos, sapiente est atque tenetur
               eveniet iste iusto veritatis magni eum, sunt eius laudantium adipisci repudiandae numquam, incidunt
               suscipit. Veritatis ea autem, beatae quae quia cum tempora, voluptatum dignissimos. Reiciendis animi,
               quos sint. Vero maxime molestiae.
            </p>
            <span class="meta-post">By: Criag, March 2</span>
         </div>
         <div class="gene-card-footer">
            <mat-divider></mat-divider>
            <div fxLayout="row" fxLayoutAlign="start center">
               <div>
                  <button mat-icon-button>
                     <mat-icon>share</mat-icon>
                  </button>
                  <button mat-icon-button>
                     <mat-icon>favorite</mat-icon>
                  </button>
               </div>
               <span fxFlex></span>
               <button mat-icon-button [matMenuTriggerFor]="menuopt">
                  <mat-icon>more_horiz</mat-icon>
               </button>
            </div>
         </div>
      </mat-card>
   </div>
   <div fxFlex.gt-sm="50" fxFlex="100">
      <mat-card>
         <div class="gene-card-content">
            <h3>Meditation can cure depression</h3>
            <p>Accusamus ex doloremque, temporibus dignissimos officiis, quisquam totam tenetur harum eligendi
               molestias soluta numquam ipsam sapiente culpa voluptas illo voluptatum fuga quibusdam. Vitae officia
               modi quod enim. Excepturi praesentium expedita, officiis. Quam iusto iste, quas repudiandae in
               assumenda, vel totam minus inventore. 
            </p>
            <span class="meta-post">By: Dr.Mills, March 18</span>
         </div>
         <div class="gene-card-footer">
            <mat-divider></mat-divider>
            <div fxLayout="row" fxLayoutAlign="start center">
               <div>
                  <button mat-icon-button>
                     <mat-icon>share</mat-icon>
                  </button>
                  <button mat-icon-button>
                     <mat-icon>favorite</mat-icon>
                  </button>
               </div>
               <span fxFlex></span>
               <button mat-icon-button [matMenuTriggerFor]="menuopt">
                  <mat-icon>more_horiz</mat-icon>
               </button>
            </div>
         </div>
      </mat-card>
   </div>
</div>
<div fxLayout="row wrap">
   <div fxFlex.gt-sm="50" fxFlex="100">
      <mat-card>
         <div class="gene-card-content">
            <h3>Global Warming is big threat</h3>
            <p>repellendus! Doloremque unde veritatis, quos minus facere, vero illum aut quibusdam non, provident
               laborum mollitia, ullam id dolor perferendis? Aut et, veritatis excepturi exercitationem, tenetur, ipsam
               dolorem quasi vitae laudantium officiis error vero fuga doloribus sint id aliquid quo minus temporibus
               ducimus odit accusamus expedita modi nam, recusandae, sed animi accusamus
            </p>
            <span class="meta-post">By:
            Jeff, March 22</span>
         </div>
      </mat-card>
   </div>
   <div fxFlex.gt-sm="50" fxFlex="100">
      <mat-card>
         <div class="gene-card-content">
            <h3>How to focus in any situation</h3>
            <p>Dolor sit amet, consectetur adipisicing elit. Odit est tempore sed vero nostrum ullam id quos suscipit
               repudiandae, alias consectetur dignissimos esse officia distinctio et hic consequuntur, fugit eaque
               itaque cumque perspiciatis, nemo totam. Inventore corporis ut magni, exercitationem fugiat perspiciatis,
               suscipit consequatur non nulla repellendus quis, quasi velit.
            </p>
            <span class="meta-post">By: Genny, May
            2</span>
         </div>
      </mat-card>
   </div>
</div>
<mat-menu #menuopt="matMenu" x-position="before">
   <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      Settings
   </button>
   <button mat-menu-item>
      <mat-icon>more</mat-icon>
      View More
   </button>
   <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      Disable notifications
   </button>
   <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      Remove Panel
   </button>
</mat-menu>