<div fxLayout="row wrap" fxLayoutAlign="center start" class="timeline-wrapper">
   <div fxFlex.xl="75" fxFlex.lg="80" fxFlex.md="90" fxFlex="100">
      <div class="timeline-wrap">
         <div fxLayout="row wrap" fxLayoutAlign="start" class="timeline-row">
            <div fxFlex.xl="45" fxFlex.gt-xs="45" fxFlex.xs="90">
               <mat-card class="timeline-item  timeline-item-simple">
                  <div class="timeline-time warn-bg text-white">10 June 2015</div>
                  <div class="gene-card-content-wrap">
                     <div class="header mrgn-b-md">
                        <mat-card-title><h2>Title</h2></mat-card-title>
                     </div>
                     <mat-card-content>
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                        <div class="button-wrap">
                           <button mat-raised-button color="primary">More</button>
                        </div>
                     </mat-card-content>
                  </div>
               </mat-card>
            </div>
            <div fxFlex.xl="10" fxFlex="10">
               <div class="styled-line full-wid height-full">
                  <span class="timeline-circle"></span>            
               </div>
            </div>
         </div>
         <div fxLayout="row wrap" fxLayoutAlign="start" class="timeline-row">
            <div fxFlex.xl="45" fxFlex.gt-xs="45" fxFlex.xs="90">
               <mat-card class="timeline-item timeline-item-video">
                  <div class="timeline-time warn-bg text-white">11 May 2016</div>
                  <div class="gene-card-content-wrap">
                     <div class="image-wrap overlay-wrap mrgn-b-none">
                        <img src="assets/img/post4.jpg" alt="image">
                        <div class="overlay-content" fxLayoutAlign="start end">
                           <div class="video-icon"  (click) = "onVideoPlayer()">
                              <i class="material-icons">play_circle_filled</i>
                           </div>                        
                           <div class="header">
                              <mat-card-title><h2 class="mrgn-b-none">Lorem ipsum dolor sit amet</h2></mat-card-title>
                           </div>
                        </div>
                     </div>
                     <mat-card-content>
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>                       
                        <div class="button-wrap">
                           <button mat-raised-button color="primary">More</button>
                        </div>
                     </mat-card-content>
                  </div>
               </mat-card>
            </div>
            <div fxFlex.xl="10" fxFlex="10">
               <div class="styled-line full-wid height-full">
                  <span class="timeline-circle"></span>            
               </div>
            </div>
         </div>
         <div fxLayout="row wrap" fxLayoutAlign="start" class="timeline-row">
            <div fxFlex.xl="45" fxFlex.gt-xs="45" fxFlex.xs="90">
               <mat-card class="timeline-item  timeline-item-simple">
                  <div class="timeline-time warn-bg text-white">12 Dec 2016</div>
                  <div class=" gene-card-content-wrap">
                     <div class="header mrgn-b-md">
                        <mat-card-title><h2>Aliquam tincidunt mauris eu risus.</h2></mat-card-title>
                     </div>
                     <mat-card-content>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                        <div class="button-wrap">
                           <button mat-raised-button color="primary">More</button>
                        </div>
                     </mat-card-content>
                  </div>
               </mat-card>
            </div>
            <div fxFlex.xl="10" fxFlex="10">
               <div class="styled-line full-wid height-full">
                  <span class="timeline-circle"></span>            
               </div>
            </div>
         </div>
         <div fxLayout="row wrap" fxLayoutAlign="start" class="timeline-row">
            <div fxFlex.xl="45" fxFlex.gt-xs="45" fxFlex.xs="90">
               <mat-card class="timeline-item timeline-item-image">
                  <div class="timeline-time warn-bg text-white">11 May 2016</div>
                  <div class="gene-card-content-wrap">
                     <div class="image-wrap overlay-wrap mrgn-b-none">
                        <img src="assets/img/post3.jpg" alt="image">
                        <div class="overlay-content" fxLayoutAlign="start end">                           
                           <div class="header">
                              <mat-card-title><h2 class="mrgn-b-none">Nunc dignissim risus id metus.</h2></mat-card-title>
                           </div>
                        </div>
                     </div>
                     <mat-card-content>
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>                       
                        <div class="button-wrap">
                           <button mat-raised-button color="primary">More</button>
                        </div>
                     </mat-card-content>
                  </div>
               </mat-card>
            </div>
            <div fxFlex.xl="10" fxFlex="10">
               <div class="styled-line full-wid height-full">
                  <span class="timeline-circle"></span>            
               </div>
            </div>
         </div>
         <div fxLayout="row wrap" fxLayoutAlign="start" class="timeline-row">
            <div fxFlex.xl="45" fxFlex.gt-xs="45" fxFlex.xs="90">
               <mat-card class="timeline-item timeline-item-blockquote">
                  <div class="timeline-time warn-bg text-white">5 April 2017</div>
                  <div class="gene-card-content-wrap">
                     <div class="header">
                        <mat-card-title><h2>Quote</h2></mat-card-title>
                     </div>
                     <mat-card-content>
                        <blockquote>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.
                        </blockquote>
                        <div class="button-wrap">
                           <button mat-raised-button color="primary">More</button>
                        </div>
                     </mat-card-content>
                  </div>
               </mat-card>
            </div>
            <div fxFlex.xl="10" fxFlex="10">
               <div class="styled-line full-wid height-full">
                  <span class="timeline-circle"></span>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>    