//Table of Content

/*
1.0 Material variables

2.0 Mixins

3.0 Core
   3.1 Header
   3.2 Horizontal Menu
   3.3 Preloader
   3.4 Scaffolding
   3.5 Sidebar
   3.6 Typography

4.0 Material Theme
   4.1 Button
   4.2 Dialog
   4.3 List
   4.4 Select
   4.5 Tabs

   
6.0 Utilities
   6.1 Base
   6.2 Bg
   6.3 Font Text
   6.4 Rtl
   6.5 Spaces

*/

@import "material.variables";
@import "mixins/bi-app/bi-app-ltr";
@import "app.variables";
@import "mixins";
@import "core";
@import "material";

@import "utilities/utilities";

.text-center {
   button {
      margin: 5px;
   }
}

.container-list {
   outline: none;
}
button {
   outline: none !important;
}