<ng-template #matPrefix>
    <span
        *ngIf="to.addonLeft"
        [ngStyle]="{cursor: to.addonLeft.onClick ? 'pointer' : 'inherit'}"
        (click)="addonLeftClick($event)"
    >
      <i *ngIf="to.addonLeft.class" [ngClass]="to.addonLeft.class"></i>&nbsp;
      <span *ngIf="to.addonLeft.text">{{ to.addonLeft.text }}</span>&nbsp;
    </span>
</ng-template>

<ng-container #fieldComponent></ng-container>

<ng-template #matSuffix>
<span
    *ngIf="to.addonRight"
    [ngStyle]="{cursor: to.addonRight.onClick ? 'pointer' : 'inherit'}"
    (click)="addonRightClick($event)"
>
      &nbsp;<i *ngIf="to.addonRight.class" [ngClass]="to.addonRight.class"></i>
      &nbsp;<span *ngIf="to.addonRight.text">{{ to.addonRight.text }}</span>
    </span>
<mat-icon *ngIf="to?.addonRight?.addonRightMatIcon" matSuffix>{{to?.addonRight?.addonRightMatIcon}}</mat-icon>
</ng-template>
