<mat-card>
   <div class="gene-card-title">
      <div fxLayout="row" fxLayoutAlign="start center">
         <div fxLayout="column">
            <h3>{{'Snack Bar'|translate}}</h3>
         </div>
         <span fxFlex></span>
      </div>
      <mat-divider></mat-divider>
   </div>
   <div class="gene-card-content">
      <p class="mrgn-b-lg"><code>MatSnackBar</code> is a service, which opens snack bar notifications in the view.</p>
      <button mat-raised-button (click)="openSnackBar()">Trigger Snackbar</button>
   </div>
</mat-card>
