<div class="maintenance-wrap pad-y-xl pad-x-md" fxLayoutAlign="center center">
	<div class="text-center card-content full-wid">
		<div class="card-title text-center mrgn-b-xl">
			<h1>{{"We'll be back"|translate}}</h1>
		</div>
		<div class="maintenance-thumbnail text-center mrgn-b-xl">	
			<img class="img-circle" src="assets/img/maintenance.jpg" alt="About Us Image" width="300" height="300">
		</div>
		<div fxLayoutAlign="center center" fxLayout="row wrap">
			<div fxFlex="90" fxFlex.xs="70" fxFlex.sm="70" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="40" class="content text-center">
				<p class="mrgn-b-md">We're updating our servers to provide you with a better experience. Check back momentarily to view this page... or try hitting refresh, we may already be back! 
				</p>
			</div>
		</div>	
	</div>	
</div>
