@model Identity.Controllers.Account.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Change password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forgot Password</h2>
@if (Model.SuccessMessage == null)
{
    <h4>Please enter your email</h4>
}
else
{
    <h4 class="text-warning">@Model.SuccessMessage</h4>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ForgotPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

