

@import "material.variables";
// @import "mixins/bi-app/bi-app-ltr";
@import "app.variables";
@import "mixins";
@import "core";
// @import "material";

@import "utilities/base";
@import "utilities/space";
@import "utilities/font-text";


.text-center {
   button {
      margin: 5px;
   }
}

.container-list {
   outline: none;
}
button {
   outline: none !important;
}
.search-filter-description-info-panel {
   min-height: 150px;
}