<div class="banner-image-wrap courses-bg-img">
   <div class="banner-content-wrap height-full bg-warn-overlay">
      <div fxLayout="row wrap" fxLayoutAlign="center center" class="height-full">
         <div fxFlex.gt-sm="80" fxFlex.gt-xs="80" fxFlex="90">
            <h2 class="text-inverse">Learn With Your Convenience</h2>
            <h4 class="text-inverse">Learn any Course anywhere anytime from our 200 courses starting from $60 USD.</h4>
            <div class="search wrap">
               <form class="search-form">
                  <mat-form-field>
                     <input class="text-inverse" matInput placeholder="Find Your Course">
                  </mat-form-field>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>