<mat-card>
   <div class="gene-card-title">
      <div fxLayout="row" fxLayoutAlign="start center">
         <div fxLayout="column">
            <h3>{{'Select'|translate}}</h3>
         </div>
         <span fxFlex></span>
      </div>
      <mat-divider></mat-divider>
   </div>
   <div class="gene-card-content">
      <p class="mrgn-b-lg">Select buttons allow the user to select one option from a set</p>
      <form>
         <mat-form-field>
            <mat-select placeholder="Favorite food" [(ngModel)]="selectedValue" name="food">
            <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
            </mat-option>
            </mat-select>
         </mat-form-field>
         <p class="mrgn-b-none"> Selected value: {{selectedValue}} </p>
      </form>
   </div>
</mat-card>