.prtm-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.prtm-radio-button {
  margin: 5px;
}

.prtm-selected-value {
  margin: 15px 0;
}
.mat-tab-label-container{
   margin-bottom: 0;
}