<div fxLayout="row wrap" fxLayoutAlign="start">
   <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex="100">
      <div class="user-content">
         <mat-card>
            <div class="pad-y-sm">
               <div fxLayout="row wrap" fxLayoutAlign="start" class="user-profile">
                  <div fxFlex.xl="300px" fxFlex.lg="300px" fxFlex.md="300px"  fxFlex.sm="250px" fxFlex.xs="100" >
                     <div class="mrgn-b-md">
                        <img class="img-responsive  display-ib" src="assets/img/user-pro.jpg" alt="user profile image" width="300" height="300">
                     </div>
                  </div>
                  <div fxFlex.xl="calc(100% - 300px)" fxFlex.lg="calc(100% - 300px)" fxFlex.md="calc(100% - 300px)"  fxFlex.sm="calc(100% - 250px)" fxFlex.xs="100"  class="user-contact-info">
                     <ul>
                        <li>
                           <h4>Lisa Arnold</h4>
                           <p>Art Director</p>
                        </li>
                        <li>
                           <div class="contact-list"><i class="fa fa-envelope primary-text" aria-hidden="true"></i> <strong>E-mail</strong></div>
                           <a class="gene-block" href="mailto:abcd@abcd.com">: abcd@abcd.com</a>
                        </li>
                        <li>
                           <div class="contact-list"><i class="fa fa-phone primary-text" aria-hidden="true"></i> <strong>Phone</strong></div>
                           <a class="gene-block" href="mailto:abcd@abcd.com">: +123 456 789890</a>
                        </li>
                        <li>
                           <div class="contact-list"><i class="fa fa fa-map primary-text" aria-hidden="true"></i> <strong>City</strong></div>
                           <span>: New York</span>
                        </li>
                        <li>
                           <div class="contact-list"><i class="fa fa fa-globe primary-text" aria-hidden="true"></i> <strong>Country</strong></div>
                           <span>: USA</span>
                        </li>
                        <li>
                           <div class="contact-list"><i class="fa fa-map-marker primary-text" aria-hidden="true"></i> <strong> Address</strong></div>
                           <span class="gene-block">: E-112,Auston Street, New York ,USA</span>
                        </li>
                     </ul>
                     <div class="user-socail-stats">
                        <ul>
                           <li>
                              <a><i class="fa fa-facebook"></i></a>
                           </li>
                           <li>
                              <a><i class="fa fa-twitter"></i></a>
                           </li>
                           <li>
                              <a><i class="fa fa-google-plus"></i></a>
                           </li>
                           <li>
                              <a><i class="fa fa-linkedin"></i></a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div>
                  <h4>Summary</h4>
                  <p>
                     Hi, This is Lisa arnold. I am feeling glad for what I have achieved here. But I think life is more about helping people rather than commanding them. I feel life is also full of variations in designs. In terms of design, nature creates beautiful graphs and sets lot of colors in our personal life.
                  </p>
                  <p class="mrgn-b-none">
                     So yes I get ideas from nature. The way it designs hills, oceans and fills colors into them. I feel lucky for having this life and capable of identifying hidden treasures beneath a wonderful design.
                  </p>
               </div>
            </div>
         </mat-card>
      </div>
   </div>
</div>