<mat-card>
   <a href="javascript:void(0)" class="instructor-card text-center full-wid height-full gene-block">
      <img src="{{instruct.image}}" width="75" height="75" alt="instructer">
      <div class="instructor-details">
         <span class="desig gene-block gene-text-md">{{instruct.profile}}, {{instruct.place}}</span>
         <span class="name gene-block font-bold">{{instruct.name}}</span>
      </div>
      <div class="instructor-counts">
         <span class="course-count gene-block gene-text-md">{{instruct.courses}} courses</span>
         <span class="student-count gene-block gene-text-md"><span class="font-bold">{{instruct.number}}</span> {{instruct.type}}</span>
      </div>
   </a>
</mat-card>