<mat-card class="mrgn-b-none">
   <div class="footer-card-content pad-t-xs" fxLayout="row wrap" fxLayoutAlign="space-between center">
      <div class="mrgn-b-md">
         <div class="footer-logo mrgn-b-sm">
            <a href="javascript:void(0)" (click)="onClick()">
               <div class="logo-sign inline-block"><img src="assets/img/logo.png" width="100" height="47"></div>
            </a>
         </div>
         <div class="copyright-info">
            <p class="mrgn-b-none">© 2017 - 2019 Gene. All Rights Reserved</p>
         </div>
      </div>
      <a class="gene-block mrgn-b-md" mat-raised-button color="primary" href="https://goo.gl/forms/wT6b2pgUGPNAq1403" target="_blank">
         Feedback
         <mat-icon class="mrgn-l-xs">feedback</mat-icon>
      </a>
   </div>
</mat-card>
