<div class="gene-welcome-note pad-wrap">
	<h2>Hi John, Welcome back</h2>
	<p>Explore your own powerful admin panel and keep track of all activity</p>
</div>
<div fxLayout="row wrap" fxLayoutAlign="start stretch" class="dash-card">
	<div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100" attr.tourAnchor="{{card.tourAnchor}}" *ngFor="let card of statsCard">
		<ms-saas-dashboard-card [statCard]= "card"></ms-saas-dashboard-card>
	</div>
</div>
<div fxLayout="row wrap" fxLayoutAlign="start">
	<div fxFlex.gt-sm="100" fxFlex="100">
		<mat-card>
			<div class="gene-card-title">
				<div fxLayout="row" fxLayoutAlign="start center">
					<div fxLayout="column">
						<h4>{{'Sample Full Width Graph'|translate}}</h4>
					</div> <span fxFlex></span>
					<button mat-icon-button>
                   <mat-icon>sync</mat-icon>
                </button>
					<button mat-icon-button [matMenuTriggerFor]="options">
                   <mat-icon>more_horiz</mat-icon>
                </button>
				</div>
				<mat-divider></mat-divider>
			</div>
			<ms-full-width-graph [lineChartData]="lineChartData" [lineChartLabels]="lineChartLabels" [lineChartOptions]="lineChartOptions" [lineChartColors]="lineChartColors" [lineChartLegend]="lineChartLegend" [lineChartType]="lineChartType"></ms-full-width-graph>
		</mat-card>
	</div>
</div>
<div fxLayout="row wrap" fxLayoutAlign="start stretch">
	<div fxFlex.gt-sm="33.33%" fxFlex="100">
		<mat-card class="card-full-height">
			<div class="gene-card-title">
				<div fxLayout="row" fxLayoutAlign="start center">
					<div fxLayout="column">
						<h4>{{'To Do Lists'|translate}}</h4>
					</div>
					<span fxFlex></span>
					<button mat-icon-button>
                  <mat-icon>sync</mat-icon>
               </button>
					<button mat-icon-button [matMenuTriggerFor]="options">
                  <mat-icon>more_horiz</mat-icon>
               </button>
				</div>
				<mat-divider></mat-divider>
			</div>
			<div class="gene-card-content">
				<div class="todos">
               <perfect-scrollbar class="todolist-scroll">
					   <ul class="gene-list">
                     <li fxLayoutAlign="start center" *ngFor="let todo of todos; let i = index">
                        <mat-checkbox class="checkbox mrgn-r-sm" [(ngModel)]="todo.completed"></mat-checkbox>
                        <span [ngClass]="{'checked': todo.completed}">{{ todo.newTodo }}</span>
                        <span fxFlex></span>
                        <button (click)="onDeleteTodoList(i)" mat-icon-button><mat-icon>delete</mat-icon></button>
                     </li>
                  </ul>
               </perfect-scrollbar>
					<div>
						<div class="list-insert-bar" fxFlex>
							<form class="to-do-form" (submit)="addTodo($event)" fxShow="false" fxShow.gt-xs>
								<mat-form-field class="full-width">
                           <input matInput type="text" placeholder="Add new item" [(ngModel)]="newTodo" (keyup.enter)="newTodo=''" class="textfield" name="newTodo" />
                        </mat-form-field>
							</form>
						</div>
					</div>
				</div>
			</div>
		</mat-card>
	</div>
	<div fxFlex.gt-sm="66.66%" fxFlex="100">
		<mat-card class="card-full-height live-chat-card">
			<div class="gene-card-title">
				<div fxLayout="row" fxLayoutAlign="start center">
					<div fxLayout="column">
						<h4>{{'Live Chat Support'|translate}}</h4>
					</div> <span fxFlex></span>
					<button mat-icon-button>
                  <mat-icon>sync</mat-icon>
               </button>
					<button mat-icon-button [matMenuTriggerFor]="options">
                  <mat-icon>more_horiz</mat-icon>
               </button>
				</div>
				<mat-divider></mat-divider>
			</div>
			<div class="gene-card-content">
               <div fxLayout="row" fxLayoutAlign="start start" class="{{livechat.classSendBy}} chat-list pad-y-sm" *ngFor="let livechat of liveChatSupport">
                  <div class="chat-thumbnail" fxFlex.gt-md="65px" fxFlex.gt-xs="70px" fxFlex="70px" >
                     <img class="img-responsive img-circle" src="{{livechat.image}}" alt="User Image" width="64" height="64">
                  </div>
                  <div class="pad-wrap chat-content" fxFlex.gt-md="calc(80% - 75px)" fxFlex.gt-xs="80" fxFlex.sm="100">
                     <div fxLayout="row wrap" class="title-wrap">
                        <span class="chat-text font-bold inline-block">{{livechat.name}}</span>
                        <h5 class="meta-post mrgn-b-none inline-block">{{livechat.time}}</h5>
                     </div>
                     <div class="gene-chat-content">
                        <p class="mrgn-b-none gene-msg-block">{{livechat.chat}}</p>
                     </div>
                  </div>
               </div>
           	</div>
		</mat-card>
	</div>
</div>
<div fxLayout="row wrap" fxLayoutAlign="start stretch">
	<div fxFlex.gt-sm="66.66" fxFlex.gt-md="66.66%" fxFlex="100">
		<mat-card class="card-full-height card-full-width">
			<div class="gene-card-title">
				<div fxLayout="row" fxLayoutAlign="start center">
					<div fxLayout="column">
						<h4>{{'Project Status'|translate}}</h4>
					</div> <span fxFlex></span>
					<button mat-icon-button>
                  <mat-icon>sync</mat-icon>
               </button>
					<button mat-icon-button [matMenuTriggerFor]="options">
                  <mat-icon>more_horiz</mat-icon>
               </button>
				</div>
				<mat-divider></mat-divider>
			</div>
			<div class="gene-card-content-sm gene-img-table">
				<ngx-datatable class="material box-shadow-none full-wid" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="0" [rowHeight]="'auto'">
					<ngx-datatable-column name="Project">
						<ng-template let-row="row" let-value="value" ngx-datatable-cell-template> {{row['project']}} </ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="Progress">
						<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
							<mat-progress-bar mode="determinate" value="{{row['progress']}}" color="{{row['color']}}"></mat-progress-bar> <span class="meta-post">{{row['name']}}</span> </ng-template>
					</ngx-datatable-column><span fxFlex></span>
					<ngx-datatable-column name="Team">
						<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                     <img class="thumb-gap" src="{{row['team-member1']}}" width="30px" height="30px">
                     <img class="thumb-gap" src="{{row['team-member2']}}" width="30px" height="30px">
                     <img class="thumb-gap" src="{{row['team-member3']}}" width="30px" height="30px">
                     <img class="thumb-gap" src="{{row['team-member4']}}" width="30px" height="30px">
                     <img class="thumb-gap" src="{{row['team-member5']}}" width="30px" height="30px">
                     <img class="thumb-gap" src="{{row['team-member6']}}" width="30px" height="30px">
                  </ng-template>
					</ngx-datatable-column>
				</ngx-datatable>
			</div>
		</mat-card>
	</div>
	<div fxFlex.gt-sm="33.33" fxFlex.gt-md="33.33%" fxFlex="100">
		<mat-card class="card-full-height card-full-width">
			<div class="gene-card-title">
				<div fxLayout="row" fxLayoutAlign="start center">
					<div fxLayout="column">
						<h4>{{'Team Member'|translate}}</h4>
					</div> <span fxFlex></span>
					<button mat-icon-button>
                  <mat-icon>sync</mat-icon>
               </button>
					<button mat-icon-button [matMenuTriggerFor]="options">
                  <mat-icon>more_horiz</mat-icon>
               </button>
				</div>
				<mat-divider></mat-divider>
			</div>
			<div class="gene-card-content">
				<mat-list class="gene-team-list">
					<ng-template let-item let-last="last" ngFor [ngForOf]="team">
						<mat-list-item class="pad-none"> <img mat-list-avatar src="{{item.photo}}" alt="">
							<h3 mat-line> {{item.name}} </h3>
							<p mat-line class="meta-post"> {{item.post}}</p>
						</mat-list-item>
					</ng-template>
				</mat-list>
			</div>
		</mat-card>
	</div>
</div>
<div fxLayout="row wrap" fxLayoutAlign="start stretch">
	<div fxFlex.gt-sm="50" fxFlex="100">
		<mat-card class="accent-bg card-full-height">
			<div class="gene-card-title">
				<div fxLayout="row" fxLayoutAlign="start center">
					<div fxLayout="column">
						<h4 class="text-inverse">{{'Yearly Sales'|translate}}<span class="inline-block mrgn-l-sm">+2.99%</span></h4>
					</div> <span fxFlex></span>
					<button mat-icon-button [matMenuTriggerFor]="options">
               <mat-icon class="text-inverse">more_horiz</mat-icon>
            </button>
				</div>
				<mat-divider></mat-divider>
			</div>
			<ms-yearly-sale [barChartData]="barChartData" [barChartLabels]="barChartLabels" [barStackChartOptions]="barStackChartOptions" [barChartColors]="barChartColors" [barChartLegend]="barChartLegend" [barChartType]="barChartType"></ms-yearly-sale>
		</mat-card>
	</div>
	<div fxFlex.gt-sm="50" fxFlex="100">
		<mat-card class="card-full-height">
			<div class="gene-card-title">
				<div fxLayout="row" fxLayoutAlign="start center">
					<div fxLayout="column">
						<h4>{{'Sales Report'|translate}}<span class="inline-block mrgn-l-sm text-alert">+458.99</span></h4>
					</div> <span fxFlex></span>
					<button mat-icon-button>
                  <mat-icon>sync</mat-icon>
               </button>
					<button mat-icon-button [matMenuTriggerFor]="options">
                  <mat-icon>more_horiz</mat-icon>
               </button>
				</div>
				<mat-divider></mat-divider>
			</div>
			<ms-sales-report [bubbleChartData]="bubbleChartData" [lineChartLabels]="lineChartLabels" [bubbleChartOptions]="bubbleChartOptions" [bubbleChartColors]="bubbleChartColors" [lineChartLegend]="lineChartLegend" [bubbleChartType]="bubbleChartType"></ms-sales-report>
		</mat-card>
	</div>
</div>
<div fxLayout="row wrap">
	<div fxFlex.gt-sm="100" fxFlex="100">
		<mat-card>
			<div class="gene-card-title">
				<div fxLayout="row" fxLayoutAlign="start center">
					<div fxLayout="column">
						<h4>{{'Global Locations'|translate}}</h4>
					</div> <span fxFlex></span>
					<button mat-icon-button>
                  <mat-icon>sync</mat-icon>
               </button>
					<button mat-icon-button [matMenuTriggerFor]="options">
                  <mat-icon>more_horiz</mat-icon>
               </button>
				</div>
				<mat-divider></mat-divider>
			</div>
			<div class="gene-card-content">
				<div fxLayout="row">
					<div fxFlex.gt-sm="100" fxFlex="100">
						<agm-map [latitude]="lat" [longitude]="lng" [zoom]="9" [scrollwheel]="false" [styles]="customStyle">
							<agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="'assets/img/marker-icon.png'"></agm-marker>
						</agm-map>
					</div>
				</div>
			</div>
		</mat-card>
	</div>
</div>
<div fxLayout="row wrap" fxLayoutAlign="start stretch">
	<div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
		<mat-card class="card-full-height email-stats">
			<div class="gene-card-title">
				<div fxLayout="row" fxLayoutAlign="start center">
					<div fxLayout="column">
						<h4>{{'Email Statistics'|translate}}</h4>
					</div> <span fxFlex></span>
					<button mat-icon-button>
                  <mat-icon>sync</mat-icon>
               </button>
					<button mat-icon-button [matMenuTriggerFor]="options">
                  <mat-icon>more_horiz</mat-icon>
               </button>
				</div>
				<mat-divider></mat-divider>
			</div>
			<ms-email-statistics [doughnutChartData]="doughnutChartData" [doughnutChartLabels]="doughnutChartLabels" [doughnutChartOptions]="doughnutChartOptions" [doughnutChartColors]="doughnutChartColors" [doughnutChartType]="doughnutChartType"></ms-email-statistics>
		</mat-card>
	</div>
	<div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
		<mat-card class="card-full-height">
			<div class="gene-card-title">
				<div fxLayout="row" fxLayoutAlign="start center">
					<div fxLayout="column">
						<h4>{{'Traffic Sources'|translate}}</h4>
					</div> <span fxFlex></span>
					<button mat-icon-button>
                  <mat-icon>sync</mat-icon>
               </button>
					<button mat-icon-button [matMenuTriggerFor]="options">
                  <mat-icon>more_horiz</mat-icon>
               </button>
				</div>
				<mat-divider></mat-divider>
			</div>
			<div class="gene-card-content">
				<ng-container *ngFor="let content of trafficSource">
					<div fxLayout="row" fxLayoutAlign="start start">
						<p>{{content.title}}</p><span fxFlex></span>
						<div>
							<mat-icon class="{{content.icon_color}} material-icons">{{content.icon}}</mat-icon><span class="gene-span mrgn-l-xs">{{content.progress}}%</span>
						</div>
					</div>
					<mat-progress-bar mode="determinate" value="{{content.progress}}" class="gene-progess-md" color="{{content.progress_color}}"></mat-progress-bar>
				</ng-container>
			</div>
		</mat-card>
	</div>
	<div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
		<mat-card class="notification-wrap card-full-height">
			<div class="gene-card-title">
				<div fxLayout="row" fxLayoutAlign="start center">
					<div fxLayout="column">
						<h4>{{'Notifications'|translate}}</h4>
					</div> <span fxFlex></span>
					<button mat-icon-button>
                  <mat-icon>sync</mat-icon>
               </button>
					<button mat-icon-button [matMenuTriggerFor]="options">
                  <mat-icon>more_horiz</mat-icon>
               </button>
				</div>
				<mat-divider></mat-divider>
			</div>
			<div class="gene-card-content text-inverse-all">
				<mat-list class="gene-theme-list mrgn-b-lg">
               <ng-container *ngFor="let content of notificationContent">
   					<mat-list-item class="{{content.card_color}} mat-list-item">
   						<div> {{content.notification}} </div>
   					</mat-list-item>
   			   </ng-container>
               </mat-list>
				<div class="text-center mrgn-b-md">
               <button class="mrgn-all-xs meta-post" mat-button>View All Notfications</button>
            </div>
			</div>
		</mat-card>
	</div>
</div>
<div fxLayout="row wrap">
	<div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100" *ngFor= "let content of socialCard">
		<ms-social-card [socialCard]="content"></ms-social-card>
	</div>
</div>
<div fxLayout="row wrap" fxLayoutAlign="start stretch">
	<div fxFlex.gt-sm="33.33" fxFlex="100" *ngFor=" let list of list">
		<mat-card class="pad-t-none card-full-height">
			<div class="gene-thumb no-gutter"><img src="{{list.photo}}"></div>
			<div class="gene-card-content">
				<h3>{{list.title}}</h3>
				<p>{{list.desc}}</p> <span class="meta-post">By: {{list.author}}, {{list.postdate}}</span> </div>
			<div class="gene-card-footer">
				<mat-divider></mat-divider>
				<div fxLayout="row" fxLayoutAlign="start center">
					<div>
						<button mat-icon-button>
                     <mat-icon>share</mat-icon>
                  </button>
						<button mat-icon-button [matMenuTriggerFor]="options">
                     <mat-icon>favorite</mat-icon>
                  </button>
					</div> <span fxFlex></span>
					<button mat-icon-button [matMenuTriggerFor]="options">
                  <mat-icon>more_horiz</mat-icon>
               </button>
				</div>
			</div>
		</mat-card>
	</div>
</div>
<mat-menu #options="matMenu" x-position="before">
	<button mat-menu-item>
      <mat-icon>settings</mat-icon> Settings </button>
	<button mat-menu-item>
      <mat-icon>more</mat-icon> View More </button>
	<button mat-menu-item>
      <mat-icon>notifications_off</mat-icon> Disable notifications </button>
	<button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon> Remove Panel </button>
</mat-menu>
