.user-list-wrap .mat-icon {
    vertical-align: top;
    margin-right: 0.5rem;
}
.user-thumb{
    width: 70px;
}
.user-name{
    font-size: 1.125rem;
}
.gene-btn-sm {
  border-radius: 3px;
  padding: 3px 15px;
}
.user-list-wrapper{
    .mat-card{
        border-radius: 0;
    }
}