body .gene-login-wrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;
    .login-logo {
        margin-bottom: 2rem;
        img {
            margin-bottom: 2rem;
        }
    }
    button {
        margin: 1rem 0;
    }
}

.justify-content {
    justify-content: center;
}